Repository HiDiHo01/mijn_pwn, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, docs, tests, config, dependencies, ci-cd, refactor, bugfix, feature, docker, kubernetes, misc

Create stale.yml
  .github/workflows/stale.yml
Labels: config, ci-cd

Create dependency-review.yml
  .github/workflows/dependency-review.yml
Labels: config, ci-cd

Create codeql.yml
  .github/workflows/codeql.yml
Labels: config, ci-cd

Create bandit.yml
  .github/workflows/bandit.yml
Labels: config, ci-cd

Create lint.yml
  .github/workflows/lint.yml
Labels: config, ci-cd

Update manifest.json
  custom_components/mijn_pwn/manifest.json
Labels: none

Create README.md
  README.md
Labels: docs

Add files via upload
  custom_components/mijn_pwn/manifest.json
Labels: none

Create validate.yaml
  .github/workflows/validate.yaml
Labels: config, ci-cd

Added brand images
  custom_components/mijn_pwn/icons/icon.png
  custom_components/mijn_pwn/icons/icon@2x.png
  custom_components/mijn_pwn/icons/logo.png
  custom_components/mijn_pwn/icons/logo@2x.png
Labels: none

.github/labeler.yml:

# .github/labeler.yml

# Labels for specific directories or file types
frontend:
  - "frontend/**"
  - "*.html"
  - "*.css"
  - "*.js"
  - "*.ts"

backend:
  - "backend/**"
  - "*.py"
  - "*.java"
  - "*.go"

docs:
  - "docs/**"
  - "*.md"
  - "*.rst"

tests:
  - "tests/**"
  - "*.test.js"
  - "*.test.py"
  - "test_*.py"

config:
  - ".github/**"
  - "*.yml"
  - "*.yaml"
  - "config/**"

# Labels based on file patterns
dependencies:
  - "requirements.txt"
  - "package.json"
  - "yarn.lock"
  - "Pipfile"

ci-cd:
  - ".github/workflows/**"

# Custom labels for specific purposes
refactor:
  - "**/*.refactor.*"
  - "refactor/**"

bugfix:
  - "**/*.bugfix.*"
  - "bugfix/**"

feature:
  - "**/*.feature.*"
  - "feature/**"

# Example labels for environment-specific changes
docker:
  - "Dockerfile"
  - "docker-compose.yml"

kubernetes:
  - "*.k8s.yml"
  - "k8s/**"

# Miscellaneous
misc:
  - "misc/**"
  - "*.txt"
  - "*.log"
